
:root{
    --color-priamary:#7380ec;
    --color-black:#000;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color--info-light: #dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-priamary-varient:#111e88;
    --color-dark-varient-:#677483;
    --color-background:#f6f6f9;


    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;


    --card-padding:1.8rem;
    --padding-1:1.2rem;


    --box-shaddow: 0 2rem 3rem var(--color-light);



    --sticky-top-left:3.4rem;
    --sticky-top-right:-18rem;
}
/* .scroll1{
    position: fixed;
    height: 100vh;
    overflow: hidden;
    
} */
/* .scroll-bar{
    height: 100%;
    overflow: scroll;
} */
.info-form1{
    margin-top: 2rem;
    height: 100%;
    background: var(--color-white);
    box-shadow: 0 5rem 8rem var(--color-light) ;
    border-radius: var(--card-border-radius);
    margin-top: 3rem;
    
}
.info-form1 form{
    padding: var(--card-padding);
}
.container-fluid{
    display: grid;
    width: 98% !important;
    height: 100%;
    
    /* margin: 0 auto; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    /* overflow-x: none; */
    position: relative;
    
}
.sidebar a{
    display: flex;
    
}
.sidebar span{
    display: flex;
 align-items: center;
 gap: 1rem;
 color: var(--color-dark-varient-);
}
.card{
    background: transparent;
    border: none;
}
.info-form1 input{
    background:var(--color-white);
    
}
aside{
    position: fixed;
    top: var(--sticky-top-left);
   
}
aside .top{
    margin-top: 0%;
}
main{
    margin-left: 15rem;
    z-index: 2;
    width: 52rem;
   
}
.right{
   margin-right:4rem ;
   width:23rem ;
   position: fixed;
   margin-left: 70rem;
}
