aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    top: 3rem;
  
}
.drop{
    position: absolute;
    width: 10rem;
    height:30rem;
    margin-right: 2rem;
    box-shadow: var(--box-shaddow);
}