.container-fluid{
    display: grid;
    width: 98% !important;
    /* margin-top: .5rem; */
   
    /* gap: 1.8rem; */
    grid-template-columns: 14rem auto;
    overflow-x: none;
}
nav a{
    font-weight: bold;
}
.navbar{
   
   display: flex !important;
   width: 100%;
   justify-content: space-between !important;
   background: var(--color-white) !important;
   border-radius: var(--card-border-radius);
  
}
.dropdown-menu .top h2{
    margin-left: 2rem;
}
aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
   
    /* position: relative; */
    top: 5rem;
   height: max-content;
    padding: 0;
     gap: 0;

}
aside .sidebar a{
    margin: 2px;
    line-height: 0%;
    margin-left: 1rem;
    
}
.dropdown .dropdown-menu{
    background: var(--color-white);
}

.sidebar span{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-dark-varient-);
}

.drop{
    position: absolute;
    width: 20rem;
    height:max-content;
    margin-right: 2rem;
    box-shadow: var(--box-shaddow);

}
/* ================================================table section start==================== */
/* .recent-orders{
    margin-top: .2rem;

} */
h1{
    margin-top:1.4rem ;
}
.date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
.date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
    outline: none;
    border: none;
}
.card{
    background: transparent;
    border: none;
}
.card:last-child{
    border-bottom: 5px solid var(--color-light);
}

.recent-orders table{
    background: var(--color-white);
    width: 100%;
    height: 80vh;
    border-radius: var(--card-border-radius);
    padding: 2rem !important;
    text-align: center;
    box-shadow: var(--box-shaddow);
    transition: all 300ms ease;
 

}
.recent-orders table tr{
    padding: 18px;
 
}
.recent-orders table:hover{
    box-shadow: none;
}
table tbody td{
    height: 2.8rem;
    width: 3rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient-);
   
}
table tbody tr:last-child td {
    border: none;
}
a{
     text-align: center;
     display: block;
     margin: 1rem auto;
     color: var(--color-priamary);
}
section .top{
    display: flex;
    text-align: center;
    align-items: center;
    float: right;
    margin-top:1.4rem ;
}
.theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggler span.active{
    background: var(--color-priamary);
    color: white;
    border-radius: var(--border-radius-1);
}



/* ================================================table section end==================== */