.container-fluid{
    display: grid;
    width: 98% !important;
    
    /* margin: 0 auto; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
    /* overflow-x: none; */
    margin-bottom: 2rem;
}
.navbar{
    background: var(--color-white) !important;
    border-radius: var(--card-border-radius);
}
.sidebar span{
    display: flex;
 align-items: center;
 gap: 1rem;
 color: var(--color-dark-varient-);
}
th .dropdown{
    
    font-weight: bold;
}
th .dropdown .btn{
    width: 100%;
    padding-right: 5px;
    margin-left: 0%;
    border: none;
}
th .dropdown .dropdown-menu{
    width: 1.5rem;
    height: max-content;
    font-weight: bold;
}
.contact_create{
    position: absolute;
    top: 5rem;
    left: 15rem;
    background:var(--color-white);
    width: 60rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    height: 70vh;
    overflow-y: auto;
    display: none;
}
.contact_create .x-icon{
    position: absolute;
  
    top: 1rem;
    right: 3rem;
 cursor: pointer;

 
}
.dropdown-menu{
    height: max-content;
}