.container-fluid{
    display: grid;
    width: 98% !important;
    
    /* margin: 0 auto; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 25rem;
    /* overflow-x: none; */
}
.insights > div{
        cursor: pointer;
}
.Total-card{
    position: absolute;
    top: 20%;
    background: var(--color-white);
    width: 52rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: none;
}
.Total-card .recent-orders table{
    background:transparent;
    box-shadow: none;
}
.Total-card .fast{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
.submitted-card{
    position: absolute;
    top: 20%;
    background: var(--color-white);
    width: 52rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: none;
}
.submitted-card .recent-orders table{
    background:transparent;
    box-shadow: none;
}
.submitted-card .second{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
.pending-card{
    position: absolute;
    top: 20%;
    background: var(--color-white);
    width: 52rem;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: none;
}
.pending-card .recent-orders table{
    background:transparent;
    box-shadow: none;
}
.pending-card .third{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
